{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<h2>الدردشة</h2>
<div id="chat-box" class="post"></div>
<input id="msg" placeholder="اكتب رسالة">
<button type="button" onclick="sendMessage()">إرسال</button>
{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
